**Multinominal Naive Bayes Classifier - YOutube Dataset**

In [2]:
# Importing the necessary libraries
import pandas as pd
# finds paths that matche a specific pattern
import  glob 
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
#Reading dataset
files = glob.glob('youtube-dataset\\*.csv')

In [4]:
files

['youtube-dataset\\Youtube01.csv',
 'youtube-dataset\\Youtube02.csv',
 'youtube-dataset\\Youtube03.csv',
 'youtube-dataset\\Youtube04.csv',
 'youtube-dataset\\Youtube05.csv']

In [5]:
all_df = []
for i in files:
    all_df.append(pd.read_csv(i).drop(['COMMENT_ID','AUTHOR', 'DATE'],axis=1 ))

In [6]:
all_df[0]

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
4    Hey, check out my new website!! This site is a...      1
..                                                 ...    ...
344  How can this have 2 billion views when there's...      0
345         I don't now why I'm watching this in 2014﻿      0
346  subscribe to me for call of duty vids and give...      1
347  hi guys please my android photo editor downloa...      1
348  The first billion viewed this because they tho...      0

[349 rows x 2 columns]

In [7]:
data = pd.concat(all_df, axis=0, ignore_index=True)

In [8]:
data

                                                CONTENT  CLASS
0     Huh, anyway check out this you[tube] channel: ...      1
1     Hey guys check out my new channel and our firs...      1
2                just for test I have to say murdev.com      1
3               watch?v=vtaRGgvGtWQ   Check this out .﻿      1
4     Hey, check out my new website!! This site is a...      1
...                                                 ...    ...
1950  I love this song because we sing it at Camp al...      0
1951  I love this song for two reasons: 1.it is abou...      0
1952                                                wow      0
1953                            Shakira u are so wiredo      0
1954                         Shakira is the best dancer      0

[1955 rows x 2 columns]

In [9]:
data.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

In [10]:
data['CLASS'].value_counts()

CLASS
1    1004
0     951
Name: count, dtype: int64

In [11]:
# spam=1, ham=0 Dataset need to be balance

Sample 1

In [12]:
message_sample = ['This is a dog']
vectorizer_sample = CountVectorizer()
vectorizer_sample.fit(message_sample)
vectorizer_sample.transform(message_sample).toarray()

array([[1, 1, 1]], dtype=int64)

In [13]:
vectorizer_sample.transform(['This is a cat']).toarray()

array([[0, 1, 1]], dtype=int64)

Sample 2

In [14]:
massage_sample2 = ['This is a dog and that is a dog', 'This is a cat']
vectorizer_sample2 = CountVectorizer()
vectorizer_sample2.fit_transform(massage_sample2).toarray()

array([[1, 0, 2, 2, 1, 1],
       [0, 1, 0, 1, 0, 1]], dtype=int64)

In [16]:
vectorizer_sample2.get_feature_names_out()

array(['and', 'cat', 'dog', 'is', 'that', 'this'], dtype=object)